**__pycache__

# sublime and code settings
*code-workspace
*sublime*

# slurm files
**slurm*
**.out

# log files
**.log

# Netcdf files
**.nc
**.nc4

# csvs
**.csv

# Zips
**.zip

# Numpy files
**.npy
git rm --cached <big_file>
git commit --amend .

# images
**.png
**.gif

# pkl files
**.pkl

# DS store
**.DS_Store

# Everything in scratch
scratch/
paper/
python_archive/
OSSE_1d/python/archive/
OSSE_permian/python/archive/
OSSE_permian/data/
OSSE_permian/archive/
plots/